/* --------------------------------------------------------------- */
/* Layout general */
html, body {
    background-color:#fff !important;
}
#pxc-main-content {
    background:none #ffffff !important;
}
#pxc-pre-content {
    display:none !important;
}













